# See lib/env.ts for more details on the environment variables
# Optional variables are commented out

# -- Required integrations
OPENAI_API_KEY="set_me"
GOOGLE_CLIENT_ID="set_me"
GOOGLE_CLIENT_SECRET="set_me"
GOOGLE_PUBSUB_CLAIM_EMAIL="set_me@example.com"
GOOGLE_PUBSUB_TOPIC_NAME="set_me"

# Supabase configuration for local development
# Ensure these ports do not conflict with other services on your machine.
# The project ID should be unique to avoid conflicts with other instances.
SUPABASE_PROJECT_ID=helper
SUPABASE_API_PORT=54321
SUPABASE_DB_PORT=54322
SUPABASE_DB_SHADOW_PORT=54320
SUPABASE_STUDIO_PORT=54329
SUPABASE_INBUCKET_PORT=54323
SUPABASE_ANALYTICS_PORT=54324
SUPABASE_DB_POOLER_PORT=54327

# -- Required in production
# ENCRYPT_COLUMN_SECRET="set_me"
# RESEND_API_KEY="set_me"
# RESEND_FROM_ADDRESS="set_me"
# AUTH_URL="set_me"
# POSTGRES_URL="set_me"
# POSTGRES_URL_NON_POOLING="set_me"
# SUPABASE_SERVICE_ROLE_KEY="set_me"
# NEXT_PUBLIC_SUPABASE_URL="set_me"
# NEXT_PUBLIC_SUPABASE_ANON_KEY="set_me"
# SUPABASE_SERVICE_ROLE_KEY="set_me"

# -- Optional integrations
# SLACK_CLIENT_ID="set_me"
# SLACK_CLIENT_SECRET="set_me"
# SLACK_SIGNING_SECRET="set_me"
# GITHUB_APP_SLUG="set_me"
# GITHUB_APP_ID="set_me"
# GITHUB_CLIENT_SECRET="set_me"
# GITHUB_PRIVATE_KEY="set_me"
# ADDITIONAL_PAID_ORGANIZATION_IDS="set_me"
# JINA_API_TOKEN="set_me"
# FIRECRAWL_API_KEY="set_me"
# PROXY_URL="set_me"
# PROXY_SECRET_KEY="set_me"
# APPLE_APP_ID="set_me"
# APPLE_TEAM_ID="set_me"
# APPLE_PRIVATE_KEY="set_me"
# APPLE_PRIVATE_KEY_IDENTIFIER="set_me"
# NEXT_PUBLIC_SENTRY_DSN="set_me"
